/* epilogue-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/epilogue-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/epilogue-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue";
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1245px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.header {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 46px;
}

.header-container {
    display: flex;
    align-items: center;

}

.atile-logo {
    margin-right: 62.24px;
}

.sitenav {
    text-decoration: none;
    margin-right: auto;

}

.sitenav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.sitenav-item {
    position: relative;
    width: 153px;
}

.sitenav-link {
    color: #686868;
    text-decoration: none;


    &:hover {
        color: #151515;
    }
}

.sitenav-list-hidden {
    margin-top: 10px;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    position: absolute;
    width: 180px;
    left: -76px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 20px 20px;
    transition: 0.3s;

}
.sitenav-list-hidden-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 2;
}
.sitenav-list-hiddenn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    position: absolute;
    width: 126px;
    height: 128px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
    border-radius: 10px;
    padding: 25px;
    transition: 0.3s;

}

.sitenav-img {
    display: flex;
    width: 14;
    height: 16;

}

.sitenav-item:hover .sitenav-list-hidden {
    opacity: 1;
    visibility: visible;
}
.sitenav-item:hover .sitenav-list-hiddenn {
    opacity: 1;
    visibility: visible;
}

.list-hidden-link {
    color: #686868;
}

.btn-ota {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-right: 40px;


}

.btn {
    gap: 40px;
    text-decoration: none;
    color: #686868;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 22px;
    border-radius: 14px;
    border: 1.5px solid transparent;

    &:hover {
        color: #151515;
    }


}

.btn-active {
    border-color: #686868;

    &:hover {
        border-color: #151515;
        color: #151515;
    }
}



.hero-contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.hero-content {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
}


.hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 48px;
    padding-top: 108px;
}


.hero-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #686868;
    margin-bottom: 51px;
}

.hero-btn-div {
    margin-bottom: 108px;

}


.hero-btn {
    font-family: Epilogue;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 15px 28px;
    background-color: #151515;
    color: #FAFAFA;
    border-radius: 15px;

    &:hover {
        background-color: #FFFFFF;
        color: #151515;
        border: 1px solid #000000;

    }
}


.hero-partners {
    display: flex;
    gap: 40.48px;
    margin-top: auto;

}